body{
    background-color: rgb(244, 237, 214)
}

img{
    display: flex;
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;

}
p {
    position: fixed;  /* Keeps it fixed in one place */
    top: 250px;
    left: 50%;
    transform: translateX(-50%); /* Ensures proper centering */
    font-size: 20px;  /* Makes the text more readable */
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
}

.button-container1 {
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 20vh;  /* Makes the container take full viewport height */
    display: flex;  /* Align buttons in a row */
    gap: 225px;      /* Space between buttons */
    margin-top: -250px;
}
.button-container2 {
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 20vh;  /* Makes the container take full viewport height */
    display: flex;  /* Align buttons in a row */
    gap: 225px;      /* Space between buttons */
    margin-top: -100px;
}
.button-container3 {
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 20vh;  /* Makes the container take full viewport height */
    display: flex;  /* Align buttons in a row */
    gap: 225px;      /* Space between buttons */
    margin-top: -100px;
}

.name-button {
    padding: 15px 0px;  /* Rectangle shape with padding */
    width:200px;
    border: 2px solid #eb64a1;
    background-color: #b8e6efff;
    color:#eb64a1;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.name-button:hover {
    background-color: #ffeaa0ff;
    color: #eb64a1;
    border-color: #eb64a1;
}

.button-create{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 3em;
    padding-bottom: 3em;
    
}
.button-class {
    background-color: #5C63A4;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    width:120px;
}