<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creating a game</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>Create your own game</h1>
        <form action=''>
            <fieldset>
                <h3>Enter names</h3>
                <form action="/add_name" method="POST">
                <label for="name"></label>
                    <input id="name" required>
                    <input id="name" required>
                </form>
            </fieldset>
            <fieldset>
                <h3>Enter questions</h3>
                <label for="question">Who's most likely to...</label>
                    <input id="question" required>
            </fieldset>
        </form>
    </body>
</html>