<!DOCTYPE html>
<html>
    <head>
        <title>Creating a game</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>Create your own game</h1>
        <form action=''>
            <fieldset>
                <label for="name">Enter name</label>
                    <input id="name" required>
                    <input id="name" required>
            </fieldset>
            <fieldset>
                <label for="question">Create questions</label>
                <input id="question" required>
            </fieldset>
        </form>
    </body>
</html>