<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>who's most likely to..?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <h1>
        Who's most likely to..?
    </h1>

    <h4>Hanging out with friends?</h4>
    <h4>Get to know their perception of you by playing "who's most likely?" - a game where you can create your own 
        scenarios and select which one of your friends would be most likely to be put in that situation! </h4>
    <h4>The possibilies are endless, have fun and let your creativity flow! </h4>
</header>
    <main> <!-- menu -->
        <nav>
            <ul>
                <li>
                    <a href="create">Create! </a> <!-- get rid of bullets in css-->
                </li>
                <li>
                    <a href="join">join! </a>
                </li>
            </ul>
        </nav>
    </main>

    <!--slideshow container-->
    <div class="slideshow-container">
        <!-- images with number and caption text -->
        <div class="themes">
            <div class="numbertext">1 / 4</div>
            <img src="cotton-candy.png" style="width:70%" alt ="Theme titled cotton candy. At the top there is a light blue box with large pink cursive font displaying the words who is most likely to..?
            Underneath there is a yellow rectangular box with pink text displaying the words your scenario here, surrounded by two hollow pink hearts. Underneath the 
            question display is 4 buttons in a 2 by 2 button format where users can input the names of their friends. top left button is yellow compared to the other 3 blue buttons 
            to show that user has selected that option" >
            <div class="text">Cotton Candy</div>
        </div>

        <div class="themes">
            <div class="numbertext">2 / 4</div>
            <img src="Grunge.png" style="width:70%" alt ="Theme titled 90s Grunge. At the top there is a amulet green box with large brown font displaying the words who is most likely to..?
            Underneath there is a cream colored rectangular box with brown text displaying the words your scenario here, surrounded by two pink stars. Underneath the 
            question display is 4 buttons in a 2 by 2 button format where users can input the names of their friends. top left button has a green dot compared to the other 3 hollow dots 
            to show that user has selected that option" >
            <div class="text">90s Grunge</div>
          </div>

          <div class="themes">
            <div class="numbertext">3 / 4</div>
            <img src="magician.png" style="width:70%" alt ="Theme titled magician. At the top there is a dark red box with large cream colored font displaying the words who is most likely to..? and 
            two 4 point stars to the right. Underneath there is a light brown rectangular box with cream text displaying the words your scenario here with a hat and wand emoji to the left. Underneath the 
            question display is 4 buttons in a 2 by 2 button format where users can input the names of their friends. top left button is dark red with a cream boarder compared to the other 3 cream colored buttons 
            to show that user has selected that option">
            <div class="text">Magician</div>
          </div>

          <div class="themes">
            <div class="numbertext">4 / 4</div>
            <img src="Tin-can.png" style="width:70%" alt ="Theme titled Tin can. At the top there is a dark blue box with darker light font displaying the words who is most likely to..?
            Underneath there is a dark blue colored rectangular box with light orange text displaying the words your scenario here with an orange fish to the left. Underneath the 
            question display is 4 buttons in a 2 by 2 question format where users can input the names of their friends. top left button is light blue with a thin dark red boarder compared to the other 3 
            orange buttons with a thin light blue boarder to show that user has selected that option">
            <div class="text">Tin can</div>
          </div>
          <!-- Next and previous buttons -->
           <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
           <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
  </div>
  <script src="main.js"></script>
</body>
</html>
