<!DOCTYPE html>
<html>
    <head>
        <title>who's most likely to..?</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<header>
    <h1>
        Who's most likely to..?
    </h1>

    <h4>Hanging out with friends?</h4>
    <h4>Get to know their perception of you by playing "who's most likely?" - a game where you can create your own 
        scenarios and select which one of your friends would be most likely to be put in that situation! </h4>
    <h4>The possibilies are endless, have fun and let your creativity flow! </h4>
</header>
    <main> <!-- menu -->
        <nav>
            <ul>
                <li>
                    <a href="create.html">Create! </a>
                </li>
                <li>
                    <a href="join.html">join! </a>
                </li>
            </ul>
        </nav>
        

    </main>
</body>
</html>
