<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creating a game</title>
        <link rel="stylesheet" href="styles.css" />

    <body>Create your own game</h1>
        <h3>Enter questions</h3>
        <form action="/add_question" method="POST">
            <fieldset>
                <label for="question">Who's most likely to...</label>
                <input id="question" name="q1" required>
                <br/>
                <label for="question">Who's most likely to...</label>
                <input id="question" name="q2" required>
                <br/>
                <button type="submit">Next Step</button>
            </fieldset>
        </form>
    </body>
</html>