<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creating a game</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>Create your own game</h1>
        <h3>Enter names</h3>
        <form action="/add_name" method="POST">
            <fieldset>
                <label for="name"></label>
                <input id="name" name="person" required>
                <br/>
                <input id="name" name="person2" required>
                <button type="submit">Add player</button>
            </fieldset>
        </form>
    </body>
</html>